.travel_main {
    border: 1px solid black;
}

img {
    height: 200px;
    padding-top: 10px;
}

.achievements_head {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}

.movie_head i {
    float: right;
}

.movie_text span {
    color: orange;
}
